USE [master]
GO
/****** Object:  Database [MovieDB]    Script Date: 5/14/2025 1:07:01 PM ******/
CREATE DATABASE [MovieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MovieDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MOBILE375JMUCK\MSSQL\DATA\MovieDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MovieDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MOBILE375JMUCK\MSSQL\DATA\MovieDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MovieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MovieDB]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 5/14/2025 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 5/14/2025 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[MovieId] [bigint] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[PostedUrl] [nvarchar](max) NULL,
	[Title] [nvarchar](max) NULL,
	[GenreId] [bigint] NULL,
	[TmdbId] [bigint] NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[MovieId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/14/2025 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 5/14/2025 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](150) NULL,
	[RoleId] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[PhoneNumber] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSave]    Script Date: 5/14/2025 1:07:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSave](
	[MovieId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[UserSaveId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserSave] PRIMARY KEY CLUSTERED 
(
	[UserSaveId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'trending')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'new_releases')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'classics')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([MovieId], [Description], [PostedUrl], [Title], [GenreId], [TmdbId]) VALUES (2038, N'When her son vanishes inside a US consulate, ex-special forces soldier Sara does everything in her power to find him — and uncovers a dark conspiracy.', N'https://image.tmdb.org/t/p/w500/qWTfHG8KdXwr0bqypYbNZLenh0J.jpg', N'Exterritorial', 1, 1233069)
INSERT [dbo].[Movie] ([MovieId], [Description], [PostedUrl], [Title], [GenreId], [TmdbId]) VALUES (2039, N'Tarzan was a small orphan who was raised by an ape named Kala since he was a child. He believed that this was his family, but on an expedition Jane Porter is rescued by Tarzan. He then finds out that he''s human. Now Tarzan must make the decision as to which family he should belong to...', N'https://image.tmdb.org/t/p/w500/bTvHlcqiOjGa3lFtbrTLTM3zasY.jpg', N'Tarzan', 1, 37135)
INSERT [dbo].[Movie] ([MovieId], [Description], [PostedUrl], [Title], [GenreId], [TmdbId]) VALUES (2040, N'Levon Cade left behind a decorated military career in the black ops to live a simple life working construction. But when his boss''s daughter, who is like family to him, is taken by human traffickers, his search to bring her home uncovers a world of corruption far greater than he ever could have imagined.', N'https://image.tmdb.org/t/p/w500/6FRFIogh3zFnVWn7Z6zcYnIbRcX.jpg', N'A Working Man', 1, 1197306)
GO
SET IDENTITY_INSERT [dbo].[Movie] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'User')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'Guest')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [Email], [RoleId], [CreatedAt], [UpdatedAt], [PhoneNumber]) VALUES (1, N'r', N'AQAAAAIAAYagAAAAEJWZSi/m4gJ0JC5/kBck5o/Pn20zvTjTHolrn/tPqcPM1GNsnPHRvlyibZPtfxnDEA==', NULL, 1, CAST(N'2025-05-13T17:30:05.870' AS DateTime), CAST(N'2025-05-13T17:30:05.870' AS DateTime), NULL)
INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [Email], [RoleId], [CreatedAt], [UpdatedAt], [PhoneNumber]) VALUES (2, N'user', N'AQAAAAIAAYagAAAAEFoROgMADcTeHqT9a52UL0ag7YNujMFwl57Iqt/0j0mbZClAJSTwX0FS0X9JSioMZg==', NULL, 2, CAST(N'2025-05-14T00:48:02.067' AS DateTime), CAST(N'2025-05-14T00:48:02.067' AS DateTime), NULL)
INSERT [dbo].[User] ([UserId], [Username], [PasswordHash], [Email], [RoleId], [CreatedAt], [UpdatedAt], [PhoneNumber]) VALUES (3, N'dfkhbglkasddjfg', N'AQAAAAIAAYagAAAAEDxXel+iJ9+KyU0xMMklTvekZN0c8Yb6oN6bUH5T0ae2jQr8s/QbrqKAVi7TkGM5fg==', NULL, 2, CAST(N'2025-05-14T19:39:48.787' AS DateTime), CAST(N'2025-05-14T19:39:48.787' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_Movie_Category] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_Movie_Category]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[UserSave]  WITH CHECK ADD  CONSTRAINT [FK_UserSave_Movie] FOREIGN KEY([MovieId])
REFERENCES [dbo].[Movie] ([MovieId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSave] CHECK CONSTRAINT [FK_UserSave_Movie]
GO
ALTER TABLE [dbo].[UserSave]  WITH CHECK ADD  CONSTRAINT [FK_UserSave_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSave] CHECK CONSTRAINT [FK_UserSave_User]
GO
USE [master]
GO
